@font-face {
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local("Source Code Pro Black"), local("SourceCodePro-Black"),
        url("assets/fonts/Source_Code_Pro/SourceCodePro-Black.ttf");
}

@font-face {
    font-family: "Source Code Pro";
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: local("Source Code Pro Black Italic"), local("SourceCodePro-BlackItalic"),
        url("assets/fonts/Source_Code_Pro/SourceCodePro-BlackItalic.ttf");
}

@font-face {
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Source Code Pro Bold"), local("SourceCodePro-Bold"),
        url("assets/fonts/Source_Code_Pro/SourceCodePro-Bold.ttf");
}

@font-face {
    font-family: "Source Code Pro";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: local("Source Code Pro Bold Italic"), local("SourceCodePro-BoldItalic"),
        url("assets/fonts/Source_Code_Pro/SourceCodePro-BoldItalic.ttf");
}

@font-face {
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local("Source Code Pro Semi-bold"), local("SourceCodePro-SemiBold"),
        url("assets/fonts/Source_Code_Pro/SourceCodePro-SemiBold.ttf");
}

@font-face {
    font-family: "Source Code Pro";
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: local("Source Code Pro Semi-bold Italic"), local("SourceCodePro-SemiBoldItalic"),
        url("assets/fonts/Source_Code_Pro/SourceCodePro-SemiBoldItalic.ttf");
}

@font-face {
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local("Source Code Pro Medium"), local("SourceCodePro-Medium"),
        url("assets/fonts/Source_Code_Pro/SourceCodePro-Medium.ttf");
}

@font-face {
    font-family: "Source Code Pro";
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: local("Source Code Pro Medium Italic"), local("SourceCodePro-MediumItalic"),
        url("assets/fonts/Source_Code_Pro/SourceCodePro-MediumItalic.ttf");
}

@font-face {
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Source Code Pro Regular"), local("SourceCodePro-Regular"),
        url("assets/fonts/Source_Code_Pro/SourceCodePro-Regular.ttf");
}

@font-face {
    font-family: "Source Code Pro";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local("Source Code Pro Italic"), local("SourceCodePro-Italic"),
        url("assets/fonts/Source_Code_Pro/SourceCodePro-Italic.ttf");
}

@font-face {
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local("Source Code Pro Light"), local("SourceCodePro-Light"),
        url("assets/fonts/Source_Code_Pro/SourceCodePro-Light.ttf");
}

@font-face {
    font-family: "Source Code Pro";
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: local("Source Code Pro Light Italic"), local("SourceCodePro-LightItalic"),
        url("assets/fonts/Source_Code_Pro/SourceCodePro-LightItalic.ttf");
}

@font-face {
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: local("Source Code Pro Extra-light"), local("SourceCodePro-ExtraLight"),
        url("assets/fonts/Source_Code_Pro/SourceCodePro-ExtraLight.ttf");
}

@font-face {
    font-family: "Source Code Pro";
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: local("Source Code Pro Extra-light Italic"), local("SourceCodePro-ExtraLightItalic"),
        url("assets/fonts/Source_Code_Pro/SourceCodePro-ExtraLightItalic.ttf");
}
