<ion-header class="spacer">
  <ion-toolbar>
    <!-- Spacing for drag bar -->
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-header [translucent]="true" class="in_content">
    <ng-container *ngIf="dataStore.file_loaded">
      <ion-toolbar>
        <ion-title size="large">
          Code coverage results
        </ion-title>
      </ion-toolbar>
      <ion-toolbar>
        <ion-grid class="file_report_info">
          <ion-row>
            <ion-col size="6">
              <ion-list lines="none">
                <ion-list-header>
                  Input file information
                </ion-list-header>
                <ion-item>
                  <ion-label>Source code filename</ion-label>
                  <ion-text color="dark" *ngIf="dataStore.source_file_name != null">
                    <p>{{dataStore.source_file_name}}</p>
                  </ion-text>
                  <ion-text color="dark" *ngIf="dataStore.source_file_name == null">
                    <p><i>loading...</i></p>
                  </ion-text>
                </ion-item>
                <ion-item>
                  <ion-label>Recorded executions in CRI file</ion-label>
                  <ion-text color="dark" *ngIf="dataStore.cid_data != null">
                    <p>{{get_execution_count()}}</p>
                  </ion-text>
                  <ion-text color="dark" *ngIf="dataStore.cid_data == null">
                    <p><i>loading...</i></p>
                  </ion-text>
                </ion-item>
                <ion-item>
                  <ion-label>Original source file found</ion-label>
                  <ion-text color="success"
                    *ngIf="dataStore.original_source_file_found != null && dataStore.original_source_file_found == true">
                    <p>Yes</p>
                  </ion-text>
                  <ion-text color="warning"
                    *ngIf="dataStore.original_source_file_found != null && dataStore.original_source_file_found == false">
                    <p>No</p>
                  </ion-text>
                  <ion-text color="dark" *ngIf="dataStore.original_source_file_found == null">
                    <p><i>loading...</i></p>
                  </ion-text>
                </ion-item>
                <ion-item>
                  <ion-label>Current version tested</ion-label>
                  <ion-text color="success"
                    *ngIf="dataStore.current_version_tested != null && dataStore.current_version_tested == true">
                    <p>Yes</p>
                  </ion-text>
                  <ion-text color="warning"
                    *ngIf="dataStore.current_version_tested != null && dataStore.current_version_tested == false">
                    <p>No</p>
                  </ion-text>
                  <ion-text color="dark" *ngIf="dataStore.current_version_tested == null">
                    <p><i>loading...</i></p>
                  </ion-text>
                </ion-item>
              </ion-list>
            </ion-col>
            <ion-col size="6">
              <ion-list lines="none">
                <ion-list-header>
                  Code coverage results
                </ion-list-header>
                <ion-item>
                  <ion-label>Function</ion-label>
                  <ion-text *ngIf="dataStore.cid_data != null" [color]="get_function_coverage_color()">
                    <p>{{get_function_coverage_string()}}</p>
                  </ion-text>
                  <ion-text *ngIf="dataStore.cid_data == null">
                    <p><i>loading...</i></p>
                  </ion-text>
                </ion-item>
                <ion-item>
                  <ion-label>Statement</ion-label>
                  <ion-text *ngIf="dataStore.cid_data != null" [color]="get_statement_coverage_color()">
                    <p>{{get_statement_coverage_string()}}</p>
                  </ion-text>
                  <ion-text *ngIf="dataStore.cid_data == null">
                    <p><i>loading...</i></p>
                  </ion-text>
                </ion-item>
                <ion-item>
                  <ion-label>Branch</ion-label>
                  <ion-text *ngIf="dataStore.cid_data != null" [color]="get_branch_coverage_color()">
                    <p>{{get_branch_coverage_string()}}</p>
                  </ion-text>
                  <ion-text *ngIf="dataStore.cid_data == null">
                    <p><i>loading...</i></p>
                  </ion-text>
                </ion-item>
                <ion-item>
                  <ion-label>MC/DC</ion-label>
                  <ion-text *ngIf="dataStore.cid_data != null" [color]="get_mcdc_coverage_color()">
                    <p>{{get_mcdc_coverage_string()}}</p>
                  </ion-text>
                  <ion-text *ngIf="dataStore.cid_data == null">
                    <p><i>loading...</i></p>
                  </ion-text>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-toolbar>
      <ion-toolbar>
        <ion-segment (ionChange)="segment_changed($event)" [(ngModel)]="active_source_viewer_segment">
          <ion-segment-button value="overview">
            <ion-label>Overview</ion-label>
          </ion-segment-button>
          <ion-segment-button value="checkpoint">
            <ion-label>Checkpoint</ion-label>
          </ion-segment-button>
          <ion-segment-button value="evaluation">
            <ion-label>Evaluation</ion-label>
          </ion-segment-button>
        </ion-segment>
        <ion-progress-bar type="indeterminate"
          *ngIf="this.dataStore.cid_data == null || this.dataStore.current_version_tested == null || this.dataStore.file_loaded == false || this.dataStore.original_source_file_found == null || this.dataStore.source_file_name == null">
        </ion-progress-bar>
      </ion-toolbar>
    </ng-container>
    <ng-container *ngIf="!dataStore.file_loaded">
      <ion-toolbar></ion-toolbar>
      <ion-toolbar>
        <ion-title size="large" class="ion-text-center">
          Nothing to show 😅
        </ion-title>
      </ion-toolbar>
      <ion-toolbar></ion-toolbar>
    </ng-container>
  </ion-header>

  <div class="scroll_container ion-padding" *ngIf="dataStore.file_loaded">
    <h1>Source code listing</h1>
    <div class="source_code_container">
      <div class="line_numbers">
        <ng-template ngFor let-code_line let-i="index" [ngForOf]="source_code">
          {{i + 1}}<br>
        </ng-template>
      </div>
      <div class="code_lines">
        <ng-template ngFor let-code_line [ngForOf]="source_code">
          <div class="code_markup_line" [innerHTML]="code_line">
          </div>
        </ng-template>
      </div>
    </div>
  </div>


</ion-content>