ion-header {
    z-index: 1000;

    ion-title {
        font-size: 30px;
    }

    &.spacer {
        background-color: rgba(255, 255, 255, 1);
        ion-toolbar {
            --border-width: 0px;
        }
    }

    &.in_content {
        position: fixed;
        background-image: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 1) 20%,
            rgba(255, 255, 255, 0) 30%
        );
        right: 10px;
        top: 44px;
        width: calc(100% - 10px);
    }

    div.coverage_bar_outer {
        display: inline-block;
        height: 50%;
        margin: 25%;
        position: relative;
        border-radius: 50px;
        background-color: rgba(0, 0, 0, 0.2);
        width: 100px;
    }
}

ion-content {
    z-index: 1;
    --padding-top: 0px;
    --padding-bottom: 0px;

    div.scroll_container {
        position: absolute;
        height: 100%;
        width: 100%;
        overflow-x: auto;
        overflow-y: scroll;
        padding-top: 242px;
        padding-left: 10px;
        padding-right: 10px;

        &::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }
        &::-webkit-scrollbar-button {
            width: 0px;
            height: 0px;
        }
        &::-webkit-scrollbar-thumb {
            background: rgb(160, 160, 160);
        }
        &::-webkit-scrollbar-thumb:hover {
            background: rgb(180, 180, 180);
        }
        &::-webkit-scrollbar-thumb:active {
            background: rgb(150, 150, 150);
        }
        &::-webkit-scrollbar-track {
            background: rgb(230, 230, 230);
        }
        &::-webkit-scrollbar-track:hover {
            background: rgb(230, 230, 230);
        }
        &::-webkit-scrollbar-track:active {
            background: rgb(230, 230, 230);
        }
        &::-webkit-scrollbar-corner {
            background: rgb(255, 255, 255);
        }
    }
}

ion-toolbar {
    --background: rgb(248, 252, 255);
    --opacity: 0.7;
}

ion-grid.file_report_info {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;

    ion-col {
        margin-top: 0px;
        padding-top: 0px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    ion-list {
        margin: 0px;
        padding: 0px;
        --background: rgba(255, 255, 255, 0);
        --ion-item-background: rgba(255, 255, 255, 0);

        ion-list-header {
            font-size: 14px;
            color: rgb(100, 100, 100);
            font-weight: 500;
            min-height: 20px;
        }

        ion-item {
            --inner-padding-start: 5px;
            --min-height: 32px;
            --background: rgba(255, 255, 255, 0);

            ion-label {
                font-size: 16px;
                color: rgb(20, 20, 20);
                font-weight: 400;
                margin-top: 4px;
                margin-bottom: 4px;
                background-color: rgba(255, 255, 255, 0);
            }

            p {
                font-size: 16px;
                font-weight: 500;
                margin-top: 4px;
                margin-bottom: 4px;
                background-color: rgba(255, 255, 255, 0);
            }
        }
    }
}

.source_code_container {
    font-family: "Source Code Pro";
    font-size: 20px;
    min-width: calc(100% - 30px);
    background-color: rgb(255, 255, 255);
    margin: 10px 5px;
    position: absolute;
    border: 0.55px solid rgb(200, 200, 200);
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    white-space: nowrap;

    div.line_numbers {
        display: inline-block;
        height: 100%;
        position: relative;
        text-align: right;
        line-height: 20px;
        font-size: 16px;
        top: 0px;
        left: 0px;
        min-width: 30px;
        padding: 0px 10px 0px 15px;
        background-color: rgb(240, 245, 250);
        border-radius: 5px 0px 0px 5px;
        box-shadow: inset -8px 0px 8px -8px rgba(0, 0, 0, 0.15);
    }

    div.code_lines {
        display: inline-block;
        height: 100%;
        position: relative;
        margin-left: 5px;
        white-space: pre;

        div.code_markup_line {
            content: "";
            height: 20px;
            font-size: 16px;

            pre {
                margin: 0px;
                padding: 0px;

                code {
                    margin: 0px;
                    padding: 0px;
                    font-weight: 300;
                }
            }
        }
    }
}
